
/* Esto son variables para usar todo el rato los mismo colores corporativos
si queréis cambiar colores o lo que sea feel free*/
:root {
    --principal:  #2e6cc2; 
    --acento: #febb02;    
    --fondo: #f4f7f6;     
    --blanco: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif; 
    background-color: var(--principal);
    color:#ffffff;
    line-height: 1.6; 
}

header {
    background-color: var(--principal);
    color: var(--blanco);
    padding: 20px;
    position: sticky;
    top: 0;
    z-index: 1000; /* Para que siempre esté por encima de las fotos */
}


 /* Para centrar el texto */
header h1 {
    text-align: center;
    margin-bottom: 15px;
}

/* Para que se vean las subpáginas en linea y sin el punto feo */
header nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 30px; /* Separación entre enlaces */
}

/* Estilo de los enlaces */
header nav a {
    color: var(--blanco);
    text-decoration: none;
    font-weight: bold;
}

header nav a:hover {
    color: var(--acento); /* Al pasar el ratón se pone dorado */
}

.hero {
min-height: 70vh;
display: flex;
align-items: center;
justify-content: center;
background-image: url(imagenhero.jpg);
background-size: cover;
background-position: center;
background-attachment: fixed;
}

.hero-content {
    text-align: center;
    color: white;
}

.hero-content h2 {
    font-size: 3rem; 
    margin-bottom: 10px;
}

.hero-content p {
    font-size: 1.5rem;

}

.info {
    padding: 80px 20px;
    text-align: center;
    text-align: center;
    font-size: medium;
}

.container {
    max-width: 800px; /* Evita que el texto sea demasiado ancho y canse la vista */
    margin: 0 auto;   /* Centra la caja de texto */
}

.info h2 {
    margin-bottom: 30px;
    font-size: 2.5rem;
}

.texto-largo {
    margin-bottom: 20px;
    font-size: 1.1rem;
    text-align: justify; /* Hace que los bloques de texto se vean rectos y profesionales */
}